<div class="container">
    <div class="profile">
        <div class="profile-bg">
        </div>
        <img src="../../assets/Picsart_22-07-10_19-06-18-3801.jpg" alt="">
    </div>
    <div class="title">
        My Portfolio
    </div>

    <div class="name">
        <span>
            <span>
                Hi,
            </span> I am
        </span>
        <br>
        <span>
            Amit Khare
        </span>
        <br>
        <span>
            Software Developer
        </span>
    </div>


</div>